<mat-card>
    <mat-card-header>
        <mat-card-title>Statement file processing result</mat-card-title>
    </mat-card-header>
    <mat-card-content  *ngIf="errorMessage">
        <div fxLayout="column" class="horizontal-spacing">
            <h3>❌ {{errorMessage}}</h3>
        </div>
    </mat-card-content>
    <mat-card-content  *ngIf="!errorMessage">
        <div fxLayout="column">
            <div fxLayout="row">
                <h3>Your request reference is {{ requestId }}, you can use this to retrieve these results at any time.
                </h3>
            </div>
            <div fxLayout="column" *ngIf="loading" class="horizontal-spacing">
                <h3>Loading your results...</h3>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <div *ngIf="!loading" fxLayout="column" class="horizontal-spacing">
                <h1>Results</h1>
                <h2>Overview</h2>
                <div *ngIf="duration">
                    A total of {{ processedCount }} entries were processed in {{ duration }} ms. ({{ throughput }} per second)
                </div>
                <div *ngIf="!duration">
                    Request is still being processed. Refresh this page to update the results.
                </div>
                <h2 *ngIf="errors.length > 0">Errors ❌ - {{ errors.length }}</h2>
                <div *ngFor="let error of errors">
                    <strong>{{error.transactionReference}}</strong> - {{error.description}}
                </div>
                <div *ngIf="errors.length === 0">All records processed successfuly ✔️</div>
            </div>
        </div>
    </mat-card-content>
</mat-card>