<mat-card>
    <mat-card-header>
        <mat-card-title>Upload statement file</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="column">
            <div fxLayout="row">
                <input #fileInput hidden="true" type="file" accept=".xml,.csv"
                    (change)="fileSelected($event.target.files)">
                <button mat-flat-button (click)="fileInput.click()">Choose file</button>

                <mat-form-field fxFlex="80">
                    <input matInput type="text" [ngModel]="fileName">
                </mat-form-field>
            </div>
            <div fxLayout="row" class="horizontal-spacing">
                <button [disabled]='!file || loading || errorMessage' mat-flat-button color="primary" (click)="upload()">Upload</button>
            </div>
            <div fxLayout="column" *ngIf="loading" class="horizontal-spacing">
                <h3>Processing your request, you will be automatically redirected once it is completed.</h3>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <div fxLayout="column" *ngIf="errorMessage" class="horizontal-spacing">
                <h3>❌ {{errorMessage}}</h3>
            </div>
        </div>
    </mat-card-content>
</mat-card>